.top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 82%;
    height: 4rem;
    // background-color: red;
    background-color: var(--primary-color);
    justify-content: space-between;
    position: fixed;
    top: 0px;
    z-index: 1000;

    // kaybolan menü için eklenenler
    width: calc(100% - 280px);
    /* Menünün genişliği kadar azaltılmış genişlik */
    transition: width 0.3s ease;

    /* Geçiş animasyonu ekleyelim */
    &.expanded {
        width: 100%;
        /* Menü kapalıyken tam genişlik */
    }
}

.left-items {
    // background-color: blue;
    background-color: var(--primary-color);
    padding: 15px;
}

.right-items {
    width: 200px;
    padding: 5px;
    background-color: var(--primary-color);
    // background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


}