<div class="top-bar">
    <div class="left-items">

        <div class="logo-items">
            <a href="#">
                <img src="../../assets/images/hastane-logo.png" alt="Akdeniz Üniversitesi Hastanesi" class="logo">

            </a>
            <h4>Akdeniz Ünivesritesi <br>Hatanesi</h4>
        </div>
        <a href="#"> <img src="../../assets/images/menu.png" alt="Menu" class="menu-icon"></a>

    </div>


    <div class="right-items">
        <a href="#"><img src="../../assets/images/ic-1.png" alt="" class="ic-1"></a>
        <a href="#"><img src="../../assets/images/ic-2.png" alt="" class="ic-2"></a>
        <a href="#"><img src="../../assets/images/notification-icon.png" alt="" class="ic-3"></a>
        <a href="#"><img src="../../assets/images/avatar.png" alt="" class="ic-4"></a>
    </div>
</div>