.top-bar {
    width: 50%;
    height: 4rem;
    background-color: var(--primary-color);
    // background-color: yellow;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.left-items {
    height: 4rem;
    width: 25%;
    background-color: var(--primary-color);
    background-color: tomato;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.logo-items {
    width: 230px;
    background-color: var(--primary-color);
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.right-items {
    width: 20%;
    display: flex;
    height: 4rem;
    align-items: center;
    background-color: var(--primary-color);
    background-color: red;
    justify-content: space-evenly;


}