<div class="container">
    <h4> <span class="first-title"> Hasta Arama / </span> Yeni Hasta Kayıt</h4>

    <div class="ic-baslik">
        <h4> Kimlik Bilgileri</h4>
    </div>

    <div class="kimlik-bilgileri">


        <div class="kimlik-icerikleri">
            <form action="">

                <div class="satir">
                    <div class="input">
                        <span>Hasta Barkod No <br> <input type="text" name="" id="" class="girdi"></span>
                    </div>
                    <div class="input">
                        <span>Tc No <br> <input type="text" name="" id="" class="girdi"></span>
                    </div>
                    <div class="input">
                        <span>Doğum Tarihi <br> <input type="text" name="" id="" class="girdi"></span>
                    </div>
                    <div class="input">
                        <span>Hasta Kayıt Türü <br> <select name="kayit-turu" id="kayit-turu" class="girdi secenek">
                                <option value="select">Secim Yapınız</option>
                            </select></span>
                    </div>
                </div>

                <!-- satir -->
                <div class="satir">
                    <div class="input">
                        <span>Adı<br> <input type="text" name="" id="" class="girdi"></span>
                    </div>
                    <div class="input">
                        <span>Soyadı <br> <input type="text" name="" id="" class="girdi"></span>
                    </div>
                    <div class="input">
                        <span>Baba Adı <br> <input type="text" name="" id="" class="girdi"></span>
                    </div>
                    <div class="input">
                        <span>Anne Adı <br> <input type="text" name="" id="" class="girdi"></span>
                    </div>
                </div>


                <!-- satir -->

                <div class="satir">
                    <div class="input">
                        <span>Cinsiyet<br> <select name="" id="secenek" class="girdi secenek"> </select></span>
                    </div>
                    <div class="input">
                        <span>Kan Grubu<br><select name="" id="secenek" class="girdi secenek"> </select></span>
                    </div>
                    <div class="input">
                        <span>Medeni Hali <br> <select name="kayit-turu" id="kayit-turu" class="girdi secenek">
                                <option value="select">Secim Yapınız</option>
                            </select></span>
                    </div>
                    <div class="input">
                        <span>Uyruk<br> <select name="kayit-turu" id="kayit-turu" class="girdi secenek">
                                <option value="select">Secim Yapınız</option>
                            </select></span>
                    </div>
                    <div class="input">
                        <span>Özel Durum <br> <select name="kayit-turu" id="kayit-turu" class="girdi secenek">
                                <option value="select">Secim Yapınız</option>
                            </select></span>
                    </div>
                </div>

            </form>
        </div>
        <div class="icerik-sag">
            <div class="upload-image">
                <img src="../../assets/images/gallery-add.png" alt="">
                <p>İzin verilen JPG, GIF veya PNG. <br>
                    Maksimum boyut 800K</p>
            </div>
            <!-- <img src="../../assets/images/upload-image.png" alt="" class="upload-image"> -->
            <div class="buttons">
                <input type="submit" name="" value="Yükle" id="upload">
                <input type="submit" name="" value="Sil" id="delete">
            </div>
        </div>
    </div>


    <!-- Nifus bilgileri -->

    <div class="ic-baslik">
        <h4> Nifus Bilgileri</h4>
    </div>
    <div class="kimlik-bilgileri nifus-bilgileri">
        <div class="kimlik-icerikleri nifus">
            <form action="">

                <div class="satir-nifus ">
                    <div class="input">
                        <span>Kayıtlı Olduğu İl<br> <select name="kayit-turu" id="kayit-turu" class="girdi2 secenek">
                                <option value="select">Secim Yapınız</option>
                            </select></span>
                    </div>
                    <div class="input">
                        <span>Kayıtlı Olduğu İlçe<br> <select name="kayit-turu" id="kayit-turu" class="girdi2 secenek">
                                <option value="select">Secim Yapınız</option>
                            </select></span>
                    </div>
                    <div class="input">
                        <span>Mahalle / Köy<br> <input type="text" name="" id="" class="girdi2"></span>
                    </div>
                    <div class="input">
                        <span>Cilt No<br> <select name="" id="secenek" class="girdi2 secenek"> </select></span>
                    </div>
                    <div class="input">
                        <span>Aile No<br> <select name="" id="secenek" class="girdi2 secenek"> </select></span>
                    </div>
                    <div class="input">
                        <span>Sıra No<br> <select name="" id="secenek" class="girdi2 secenek"> </select></span>
                    </div>
                </div>

                <!-- satir -->
                <div class="satir-nifus ">

                    <div class="input">
                        <span>Ölüm Tarihi<br> <input type="text" name="" id="" class="girdi2"></span>
                    </div>
                    <div class="input">
                        <span>Yupass No<br> <input type="text" name="" id="" class="girdi2"></span>
                    </div>
                    <div class="input">
                        <span>Pasaport No<br> <input type="text" name="" id="" class="girdi2"></span>
                    </div>

                </div>

            </form>
        </div>

    </div>

    <div class="ic-baslik kapali">
        <h4> Nifus Bilgileri</h4>
        <img src="../../assets/images/close-vector.png" alt="">
    </div>
    <div class="ic-baslik kapali">
        <h4> Yerleşim Yeri Adresi</h4>
        <img src="../../assets/images/close-vector.png" alt="">
    </div>
    <div class="ic-baslik kapali">
        <h4> Ek Bilgiler</h4>
        <img src="../../assets/images/close-vector.png" alt="">
    </div>


</div>