<div class="container">
    <div class="kimlik-bilgileri">

    </div>
</div>





<!-- <form action="" class="girdiler">
    <div class="satir1">
        <h4 class="title-kimlik-bilgileri">Kimlik Bİlgileri</h4>
    </div>

    <div class="satir2">
        <p>Hasta Barkod No </p> <input type="text" name="" id="">
        <p>Tc No</p><input type="text" name="" id="">
        <p>Doğum Tarihi </p><input type="text" name="" id="">
        <p>Hasta Kayıt Türü </p><input type="text" name="" id="">
    </div>
    <p>Adı </p><input type="text" name="" id="">
    <p>Soyadı </p><input type="text" name="" id="">
    <p>Baba Adı</p><input type="text" name="" id="">
    <p>Anne Adı</p><input type="text" name="" id="">
</form> -->