.main-component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
}

.navigation {
    background-color: var(--primary-color);
    // background-color: red;
    width: 82%;
    display: flex;
    // justify-content: right;
    // flex-wrap: nowrap;
    position: absolute;
    top: 0px;
    right: 0px;
}

.main {
    position: absolute;
    top: 5rem;
    left: 19%;
}