.main-component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
}

.navigation {
    background-color: red;
    width: 82%;
    display: flex;
    justify-content: right;
    flex-wrap: nowrap;
}