.main-component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
}

.navigation {
    // background-color: var(--primary-color);
    // background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: red;
    // justify-content: right;
    // flex-wrap: nowrap;
    // position: absolute;
    // top: 0px;
    // right: 0px;
}

.main {
    position: absolute;
    top: 5rem;
    left: 19%;
}