/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--secondary-color);
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #F5F5F5;
    --green-color: #329A16;
    --red-color: #FF2A2A;
    --purple-color: #6D55FD;
    --second-purple-color: #E8E8FF;
    --text-color: #53545C;
    --main-text-color: #313036;
    --second-background-color: #E8E8FF;
    --second-text-color: #B6B8C3;
}