<div class="side-menu">
    <div class="logo-items">
        <a href="#">
            <img src="../../assets/images/hastane-logo.png" alt="Akdeniz Üniversitesi Hastanesi" class="logo">

        </a>
        <h4>Akdeniz Ünivesritesi <br>Hatanesi</h4>
    </div>
    <div class="navigations">
        <ul>
            <li><input type="text" name="searchbox" id="sb" placeholder="Arama..." class="search-box"></li>
            <li> <a href="#" class="'item item1"> <img src="../../assets/images/dashboard-icon.png" alt="">
                    Dashboard</a>
            </li>
            <li><a href="#" class="item item2">
                    <img src="../../assets/images/hasta-kayit.png" width="20" height="20" alt="">
                    <span> Hasta Kayıt /
                        Kabul</span>
                </a></li>
            <li><a href="#" class="item item3"><img src="../../assets/images/ic_poliklinik.png" alt="">
                    <span>Poliklinik İşlemleri</span>
                </a></li>
            <li><a href="#" class="item item4"><img src="../../assets/images/ic_acil.png" alt=""> Acil Servis</a>
            </li>
            <li><a href="#" class="item item5"><img src="../../assets/images/ic_klinik.png" alt=""> Klinik
                    İşlemler</a></li>
            <li><a href="#" class="item item6"><img src="../../assets/images/ic_vezne.png" alt=""> Vezne</a></li>
            <li><a href="#" class="item item7"><img src="../../assets/images/ic_ameliyathane.png" alt=""> Ameliyat
                    İşlemleri</a></li>
            <li><a href="#" class="item item8"><img src="../../assets/images/ic_lab.png" alt=""> Laboratuvar</a>
            </li>
            <li><a href="#" class="item item9"><img src="../../assets/images/ic_radyoloji.png" alt=""> Radyoloji</a>
            </li>
            <li><a href="#" class="item item10"><img src="../../assets/images/ic_patoloji.png" alt=""> Patoloji</a>
            </li>
            <li><a href="#" class="item item11"><img src="../../assets/images/ic_nukleer.png" alt=""> Nükleer
                    Tıp</a>
            </li>
            <li><a href="#" class="item item12"><img src="../../assets/images/ic_genetik.png" alt=""> Genetik</a>
            </li>
        </ul>
    </div>
</div>