<!-- <div class="side-menu">
    <div class="column">
        <div class="logo-items">
            <a href="#">
                <img src="../../assets/images/hastane-logo.png" alt="Akdeniz Üniversitesi Hastanesi" class="logo">

            </a>
            <h4>Akdeniz Ünivesritesi <br>Hatanesi</h4>
        </div>
    </div>
</div> -->

<div class="side-menu">
    <div class="logo-items">
        <a href="#">
            <img src="../../assets/images/hastane-logo.png" alt="Akdeniz Üniversitesi Hastanesi" class="logo">

        </a>
        <h4>Akdeniz Ünivesritesi <br>Hatanesi</h4>
    </div>
    <div class="navigations">
        <ul>
            <li><input type="text" name="searchbox" id="sb" placeholder="Arama..." class="search-box"></li>
            <li><a href="#" class="'item item1"> <img src="../../assets/images/dashboard-icon.png" alt=""> Dashboard</a>
            </li>
            <li><a href="#" class="item item2"> <img src="../../assets/images/hasta-kayit.png" width="20" height="20"
                        alt=""> Hasta Kayıt /
                    Kabul</a></li>
            <li><a href="#" class="item item3">Poliklinik İşlemleri</a></li>
            <li><a href="#" class="item item4">Acil Servis</a></li>
            <li><a href="#" class="item item5">Klinik İşlemler</a></li>
            <li><a href="#" class="item item6">Vezne</a></li>
            <li><a href="#" class="item item7">Ameliyat İşlemleri</a></li>
            <li><a href="#" class="item item8">Laboratuvar</a></li>
            <li><a href="#" class="item item9">Radyoloji</a></li>
            <li><a href="#" class="item item10">Patoloji</a></li>
            <li><a href="#" class="item item11">Nükleer Tıp</a></li>
            <li><a href="#" class="item item12">Genetik</a></li>
        </ul>
    </div>
</div>